[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
typing-extensions = "*"
pytest-cov = "*"
coverage = "*"
build = "*"
pyupgrade = "*"

[scripts]
build = "make build"
clean = "make clean"
test = "make test"
lint = "make lint"
format = "make format"
