[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[scripts]
test = "pytest"
format = "sh -c 'isort tests/ throttle_controller/ ; black tests/ throttle_controller/'"